mrpc-support/mrpc-support-spring/src/main/resources/META-INF/mrpc.xsd

<xsd:schema xmlns="http://blog.csdn.net/pretent/schema/mrpc"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://blog.csdn.net/pretent/schema/mrpc"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:import namespace="http://www.springframework.org/schema/beans" />

	<xsd:element name="register">
		<xsd:complexType>
			<xsd:attribute name="address" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="protocol">
		<xsd:complexType>
			<xsd:attribute name="host" type="xsd:string" default="127.0.0.1" />
			<xsd:attribute name="port" type="xsd:int" default="51000" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="annotation">
		<xsd:complexType>
			<xsd:attribute name="package" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="service">
		<xsd:complexType>
			<xsd:attribute name="interface" type="xsd:string" />
			<xsd:attribute name="ref" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="reference">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string" />
			<xsd:attribute name="interface" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>